body {
  font-family: "Arial", sans-serif;
  color: #333;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  text-align: center;
}

section {
  margin-bottom: 3rem;
}

.card {
  margin-bottom: 1.5rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}

@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}
